<section class="admin-products-index">

  <header class="page-header">
    <h1>Products overview</h1>
  </header>


  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Products Count: </th>
          <th><%= 1 %></th>
          <th>Catagories Count: </th>
          <th><%= 3 %></th>
        </tr>
      </thead>
    </table>

  </div>

</section>
